# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
# .vercel
Prodkt-Themes/
Prodkt-Typography/
!.vercel/output/static/_astro/index_*.css
.vercel/output/config.json
.vercel/project.json
.vercel/README.txt