
:root {
    --color-tomato-dark-1: #1d1412; 
    --color-tomato-dark-2: #2a1410; 
    --color-tomato-dark-3: #3b1813; 
    --color-tomato-dark-4: #481a14; 
    --color-tomato-dark-5: #541c15; 
    --color-tomato-dark-6: #652016; 
    --color-tomato-dark-7: #7f2315; 
    --color-tomato-dark-8: #a42a12; 
    --color-tomato-dark-9: #e54d2e; 
    --color-tomato-dark-10: #ec5e41; 
    --color-tomato-dark-11: #f16a50; 
    --color-tomato-dark-12: #feefec; 
    --color-tomato-light-1: #fffcfc; 
    --color-tomato-light-2: #fff8f7; 
    --color-tomato-light-3: #fff0ee; 
    --color-tomato-light-4: #ffe6e2; 
    --color-tomato-light-5: #fdd8d3; 
    --color-tomato-light-6: #fac7be; 
    --color-tomato-light-7: #f3b0a2; 
    --color-tomato-light-8: #ea9280; 
    --color-tomato-light-9: #e54d2e; 
    --color-tomato-light-10: #db4324; 
    --color-tomato-light-11: #ca3214; 
    --color-tomato-light-12: #341711; 
    --color-tomato-dark-alpha-1: #00000000; 
    --color-tomato-dark-alpha-2: #fd15000f; 
    --color-tomato-dark-alpha-3: #ff301921; 
    --color-tomato-dark-alpha-4: #fe331c30; 
    --color-tomato-dark-alpha-5: #fe351e3d; 
    --color-tomato-dark-alpha-6: #ff391e52; 
    --color-tomato-dark-alpha-7: #ff37196e; 
    --color-tomato-dark-alpha-8: #ff3a1299; 
    --color-tomato-dark-alpha-9: #ff5431e0; 
    --color-tomato-dark-alpha-10: #ff6445eb; 
    --color-tomato-dark-alpha-11: #ff7054f0; 
    --color-tomato-dark-alpha-12: #fff3f0fa; 
    --color-tomato-light-alpha-1: #ff050503; 
    --color-tomato-light-alpha-2: #ff260508; 
    --color-tomato-light-alpha-3: #ff1f0112; 
    --color-tomato-light-alpha-4: #ff22011c; 
    --color-tomato-light-alpha-5: #f41d012b; 
    --color-tomato-light-alpha-6: #ec230040; 
    --color-tomato-light-alpha-7: #de25005e; 
    --color-tomato-light-alpha-8: #d5240180; 
    --color-tomato-light-alpha-9: #df2500d1; 
    --color-tomato-light-alpha-10: #d52400db; 
    --color-tomato-light-alpha-11: #c62100eb; 
    --color-tomato-light-alpha-12: #260600ed; 
    --color-red-dark-1: #1f1315; 
    --color-red-dark-2: #291415; 
    --color-red-dark-3: #3c181a; 
    --color-red-dark-4: #481a1d; 
    --color-red-dark-5: #541b1f; 
    --color-red-dark-6: #671e22; 
    --color-red-dark-7: #822025; 
    --color-red-dark-8: #aa2429; 
    --color-red-dark-9: #e5484d; 
    --color-red-dark-10: #f2555a; 
    --color-red-dark-11: #ff6369; 
    --color-red-dark-12: #feecee; 
    --color-red-light-1: #fffcfc; 
    --color-red-light-2: #fff8f8; 
    --color-red-light-3: #ffefef; 
    --color-red-light-4: #ffe5e5; 
    --color-red-light-5: #fdd8d8; 
    --color-red-light-6: #f9c6c6; 
    --color-red-light-7: #f3aeaf; 
    --color-red-light-8: #eb9091; 
    --color-red-light-9: #e5484d; 
    --color-red-light-10: #dc3d43; 
    --color-red-light-11: #cd2b31; 
    --color-red-light-12: #381316; 
    --color-red-dark-alpha-1: #00000000; 
    --color-red-dark-alpha-2: #fd28150d; 
    --color-red-dark-alpha-3: #fe3a3d21; 
    --color-red-dark-alpha-4: #fe39402e; 
    --color-red-dark-alpha-5: #ff353f3d; 
    --color-red-dark-alpha-6: #ff353c52; 
    --color-red-dark-alpha-7: #ff303b70; 
    --color-red-dark-alpha-8: #ff2f369e; 
    --color-red-dark-alpha-9: #ff4f55e0; 
    --color-red-dark-alpha-10: #ff595ff0; 
    --color-red-dark-alpha-11: #ff646afa; 
    --color-red-dark-alpha-12: #fff0f2fa; 
    --color-red-light-alpha-1: #ff050503; 
    --color-red-light-alpha-2: #ff050508; 
    --color-red-light-alpha-3: #ff01010f; 
    --color-red-light-alpha-4: #ff00001a; 
    --color-red-light-alpha-5: #f2000026; 
    --color-red-light-alpha-6: #e4010138; 
    --color-red-light-alpha-7: #d9000452; 
    --color-red-light-alpha-8: #d1000470; 
    --color-red-light-alpha-9: #db0007b8; 
    --color-red-light-alpha-10: #d10007c2; 
    --color-red-light-alpha-11: #c30007d4; 
    --color-red-light-alpha-12: #280003ed; 
    --color-crimson-dark-1: #1d1418; 
    --color-crimson-dark-2: #27141c; 
    --color-crimson-dark-3: #3c1827; 
    --color-crimson-dark-4: #481a2d; 
    --color-crimson-dark-5: #541b33; 
    --color-crimson-dark-6: #641d3b; 
    --color-crimson-dark-7: #801d45; 
    --color-crimson-dark-8: #ae1955; 
    --color-crimson-dark-9: #e93d82; 
    --color-crimson-dark-10: #f04f88; 
    --color-crimson-dark-11: #f76190; 
    --color-crimson-dark-12: #feecf4; 
    --color-crimson-light-1: #fffcfd; 
    --color-crimson-light-2: #fff7fb; 
    --color-crimson-light-3: #feeff6; 
    --color-crimson-light-4: #fce5f0; 
    --color-crimson-light-5: #f9d8e7; 
    --color-crimson-light-6: #f4c6db; 
    --color-crimson-light-7: #edadc8; 
    --color-crimson-light-8: #e58fb1; 
    --color-crimson-light-9: #e93d82; 
    --color-crimson-light-10: #e03177; 
    --color-crimson-light-11: #d31e66; 
    --color-crimson-light-12: #3d0d1d; 
    --color-crimson-dark-alpha-1: #00000000; 
    --color-crimson-dark-alpha-2: #fb14710d; 
    --color-crimson-dark-alpha-3: #fe318624; 
    --color-crimson-dark-alpha-4: #fe338430; 
    --color-crimson-dark-alpha-5: #fe31863d; 
    --color-crimson-dark-alpha-6: #fe31864f; 
    --color-crimson-dark-alpha-7: #fe287e70; 
    --color-crimson-dark-alpha-8: #ff1c77a3; 
    --color-crimson-dark-alpha-9: #ff418de5; 
    --color-crimson-dark-alpha-10: #ff538fed; 
    --color-crimson-dark-alpha-11: #ff6495f5; 
    --color-crimson-dark-alpha-12: #fff0f8fa; 
    --color-crimson-light-alpha-1: #ff055803; 
    --color-crimson-light-alpha-2: #ff058208; 
    --color-crimson-light-alpha-3: #ef01700f; 
    --color-crimson-light-alpha-4: #e2006d1a; 
    --color-crimson-light-alpha-5: #d8006126; 
    --color-crimson-light-alpha-6: #ce015d38; 
    --color-crimson-light-alpha-7: #c7005352; 
    --color-crimson-light-alpha-8: #c4004f70; 
    --color-crimson-light-alpha-9: #e2005ac2; 
    --color-crimson-light-alpha-10: #d90057cf; 
    --color-crimson-light-alpha-11: #cd0052e0; 
    --color-crimson-light-alpha-12: #330011f2; 
    --color-pink-dark-1: #1f121b; 
    --color-pink-dark-2: #271421; 
    --color-pink-dark-3: #3a182f; 
    --color-pink-dark-4: #451a37; 
    --color-pink-dark-5: #501b3f; 
    --color-pink-dark-6: #601d48; 
    --color-pink-dark-7: #7a1d5a; 
    --color-pink-dark-8: #a71873; 
    --color-pink-dark-9: #d6409f; 
    --color-pink-dark-10: #e34ba9; 
    --color-pink-dark-11: #f65cb6; 
    --color-pink-dark-12: #feebf7; 
    --color-pink-light-1: #fffcfe; 
    --color-pink-light-2: #fff7fc; 
    --color-pink-light-3: #feeef8; 
    --color-pink-light-4: #fce5f3; 
    --color-pink-light-5: #f9d8ec; 
    --color-pink-light-6: #f3c6e2; 
    --color-pink-light-7: #ecadd4; 
    --color-pink-light-8: #e38ec3; 
    --color-pink-light-9: #d6409f; 
    --color-pink-light-10: #d23197; 
    --color-pink-light-11: #cd1d8d; 
    --color-pink-light-12: #3b0a2a; 
    --color-pink-dark-alpha-1: #00000000; 
    --color-pink-dark-alpha-2: #fd4ac10a; 
    --color-pink-dark-alpha-3: #fe44c01f; 
    --color-pink-dark-alpha-4: #ff41bf2b; 
    --color-pink-dark-alpha-5: #ff3bc138; 
    --color-pink-dark-alpha-6: #fe38b64a; 
    --color-pink-dark-alpha-7: #ff2db569; 
    --color-pink-dark-alpha-8: #ff1cac9c; 
    --color-pink-dark-alpha-9: #ff4abdd1; 
    --color-pink-dark-alpha-10: #ff53bde0; 
    --color-pink-dark-alpha-11: #ff5fbcf5; 
    --color-pink-dark-alpha-12: #ffeffbfa; 
    --color-pink-light-alpha-1: #ff05ac03; 
    --color-pink-light-alpha-2: #ff059f08; 
    --color-pink-light-alpha-3: #f0019412; 
    --color-pink-light-alpha-4: #e2008b1a; 
    --color-pink-light-alpha-5: #d8008126; 
    --color-pink-light-alpha-6: #c9017c38; 
    --color-pink-light-alpha-7: #c4007952; 
    --color-pink-light-alpha-8: #c0007670; 
    --color-pink-light-alpha-9: #c8007fbf; 
    --color-pink-light-alpha-10: #c7007ecf; 
    --color-pink-light-alpha-11: #c7007ee3; 
    --color-pink-light-alpha-12: #330021f5; 
    --color-plum-dark-1: #1d131d; 
    --color-plum-dark-2: #251425; 
    --color-plum-dark-3: #341a34; 
    --color-plum-dark-4: #3e1d40; 
    --color-plum-dark-5: #48214b; 
    --color-plum-dark-6: #542658; 
    --color-plum-dark-7: #692d6f; 
    --color-plum-dark-8: #883894; 
    --color-plum-dark-9: #ab4aba; 
    --color-plum-dark-10: #bd54c6; 
    --color-plum-dark-11: #d864d8; 
    --color-plum-dark-12: #fbecfc; 
    --color-plum-light-1: #fefcff; 
    --color-plum-light-2: #fff8ff; 
    --color-plum-light-3: #fceffc; 
    --color-plum-light-4: #f9e5f9; 
    --color-plum-light-5: #f3d9f4; 
    --color-plum-light-6: #ebc8ed; 
    --color-plum-light-7: #dfafe3; 
    --color-plum-light-8: #cf91d8; 
    --color-plum-light-9: #ab4aba; 
    --color-plum-light-10: #a43cb4; 
    --color-plum-light-11: #9c2bad; 
    --color-plum-light-12: #340c3b; 
    --color-plum-dark-alpha-1: #00000000; 
    --color-plum-dark-alpha-2: #fb2ffb0a; 
    --color-plum-dark-alpha-3: #fe58fe1a; 
    --color-plum-dark-alpha-4: #f153ff29; 
    --color-plum-dark-alpha-5: #f158fe33; 
    --color-plum-dark-alpha-6: #ee5cfe42; 
    --color-plum-dark-alpha-7: #ee5aff5c; 
    --color-plum-dark-alpha-8: #e959ff87; 
    --color-plum-dark-alpha-9: #ea62ffb0; 
    --color-plum-dark-alpha-10: #f36affbf; 
    --color-plum-dark-alpha-11: #ff75ffd4; 
    --color-plum-dark-alpha-12: #fff0fffa; 
    --color-plum-light-alpha-1: #ac05ff03; 
    --color-plum-light-alpha-2: #ff05ff08; 
    --color-plum-light-alpha-3: #d001d00f; 
    --color-plum-light-alpha-4: #c400c41a; 
    --color-plum-light-alpha-5: #af02b526; 
    --color-plum-light-alpha-6: #a300ac38; 
    --color-plum-light-alpha-7: #9800a64f; 
    --color-plum-light-alpha-8: #8f00a56e; 
    --color-plum-light-alpha-9: #89009eb5; 
    --color-plum-light-alpha-10: #88009dc2; 
    --color-plum-light-alpha-11: #88009cd4; 
    --color-plum-light-alpha-12: #2a0031f2; 
    --color-purple-dark-1: #1b141d; 
    --color-purple-dark-2: #221527; 
    --color-purple-dark-3: #301a3a; 
    --color-purple-dark-4: #3a1e48; 
    --color-purple-dark-5: #432155; 
    --color-purple-dark-6: #4e2667; 
    --color-purple-dark-7: #5f2d84; 
    --color-purple-dark-8: #7938b2; 
    --color-purple-dark-9: #8e4ec6; 
    --color-purple-dark-10: #9d5bd2; 
    --color-purple-dark-11: #bf7af0; 
    --color-purple-dark-12: #f7ecfc; 
    --color-purple-light-1: #fefcfe; 
    --color-purple-light-2: #fdfaff; 
    --color-purple-light-3: #f9f1fe; 
    --color-purple-light-4: #f3e7fc; 
    --color-purple-light-5: #eddbf9; 
    --color-purple-light-6: #e3ccf4; 
    --color-purple-light-7: #d3b4ed; 
    --color-purple-light-8: #be93e4; 
    --color-purple-light-9: #8e4ec6; 
    --color-purple-light-10: #8445bc; 
    --color-purple-light-11: #793aaf; 
    --color-purple-light-12: #2b0e44; 
    --color-purple-dark-alpha-1: #00000000; 
    --color-purple-dark-alpha-2: #b52afb0d; 
    --color-purple-dark-alpha-3: #bc43fe21; 
    --color-purple-dark-alpha-4: #be48fe30; 
    --color-purple-dark-alpha-5: #bc49ff40; 
    --color-purple-dark-alpha-6: #b74bff54; 
    --color-purple-dark-alpha-7: #b14aff75; 
    --color-purple-dark-alpha-8: #ab4bffa8; 
    --color-purple-dark-alpha-9: #b561ffbf; 
    --color-purple-dark-alpha-10: #bd6dffcc; 
    --color-purple-dark-alpha-11: #cb81ffed; 
    --color-purple-dark-alpha-12: #fcf0fffa; 
    --color-purple-light-alpha-1: #ab05ab03; 
    --color-purple-light-alpha-2: #9b05ff05; 
    --color-purple-light-alpha-3: #9200ed0d; 
    --color-purple-light-alpha-4: #8002e017; 
    --color-purple-light-alpha-5: #8001d524; 
    --color-purple-light-alpha-6: #7500c833; 
    --color-purple-light-alpha-7: #6b01c24a; 
    --color-purple-light-alpha-8: #6600bf6b; 
    --color-purple-light-alpha-9: #5c00adb0; 
    --color-purple-light-alpha-10: #5700a3ba; 
    --color-purple-light-alpha-11: #510097c4; 
    --color-purple-light-alpha-12: #1f0039f2; 
    --color-violet-dark-1: #17151f; 
    --color-violet-dark-2: #1c172b; 
    --color-violet-dark-3: #251e40; 
    --color-violet-dark-4: #2c2250; 
    --color-violet-dark-5: #32275f; 
    --color-violet-dark-6: #392c72; 
    --color-violet-dark-7: #443592; 
    --color-violet-dark-8: #5842c3; 
    --color-violet-dark-9: #6e56cf; 
    --color-violet-dark-10: #7c66dc; 
    --color-violet-dark-11: #9e8cfc; 
    --color-violet-dark-12: #f1eefe; 
    --color-violet-light-1: #fdfcfe; 
    --color-violet-light-2: #fbfaff; 
    --color-violet-light-3: #f5f2ff; 
    --color-violet-light-4: #ede9fe; 
    --color-violet-light-5: #e4defc; 
    --color-violet-light-6: #d7cff9; 
    --color-violet-light-7: #c4b8f3; 
    --color-violet-light-8: #aa99ec; 
    --color-violet-light-9: #6e56cf; 
    --color-violet-light-10: #644fc1; 
    --color-violet-light-11: #5746af; 
    --color-violet-light-12: #20134b; 
    --color-violet-dark-alpha-1: #00000000; 
    --color-violet-dark-alpha-2: #743afd0d; 
    --color-violet-dark-alpha-3: #7452fe26; 
    --color-violet-dark-alpha-4: #7650ff38; 
    --color-violet-dark-alpha-5: #7654ff4a; 
    --color-violet-dark-alpha-6: #7253ff5e; 
    --color-violet-dark-alpha-7: #7053ff82; 
    --color-violet-dark-alpha-8: #6f52ffba; 
    --color-violet-dark-alpha-9: #8668ffc9; 
    --color-violet-dark-alpha-10: #8e75ffd6; 
    --color-violet-dark-alpha-11: #a18efffa; 
    --color-violet-dark-alpha-12: #f5f2fffa; 
    --color-violet-light-alpha-1: #5805ab03; 
    --color-violet-light-alpha-2: #3705ff05; 
    --color-violet-light-alpha-3: #3c00ff0d; 
    --color-violet-light-alpha-4: #2e02f417; 
    --color-violet-light-alpha-5: #2f01e821; 
    --color-violet-light-alpha-6: #2a01df30; 
    --color-violet-light-alpha-7: #2b01d447; 
    --color-violet-light-alpha-8: #2a00d066; 
    --color-violet-light-alpha-9: #2500b6a8; 
    --color-violet-light-alpha-10: #1f00a5b0; 
    --color-violet-light-alpha-11: #180091ba; 
    --color-violet-light-alpha-12: #0e003ded; 
    --color-indigo-dark-1: #131620; 
    --color-indigo-dark-2: #15192d; 
    --color-indigo-dark-3: #192140; 
    --color-indigo-dark-4: #1c274f; 
    --color-indigo-dark-5: #1f2c5c; 
    --color-indigo-dark-6: #22346e; 
    --color-indigo-dark-7: #273e89; 
    --color-indigo-dark-8: #2f4eb2; 
    --color-indigo-dark-9: #3e63dd; 
    --color-indigo-dark-10: #5373e7; 
    --color-indigo-dark-11: #849dff; 
    --color-indigo-dark-12: #eef1fd; 
    --color-indigo-light-1: #fdfdfe; 
    --color-indigo-light-2: #f8faff; 
    --color-indigo-light-3: #f0f4ff; 
    --color-indigo-light-4: #e6edfe; 
    --color-indigo-light-5: #d9e2fc; 
    --color-indigo-light-6: #c6d4f9; 
    --color-indigo-light-7: #aec0f5; 
    --color-indigo-light-8: #8da4ef; 
    --color-indigo-light-9: #3e63dd; 
    --color-indigo-light-10: #3a5ccc; 
    --color-indigo-light-11: #3451b2; 
    --color-indigo-light-12: #101d46; 
    --color-indigo-dark-alpha-1: #00000000; 
    --color-indigo-dark-alpha-2: #3549fc0f; 
    --color-indigo-dark-alpha-3: #3c63fe24; 
    --color-indigo-dark-alpha-4: #3d67ff36; 
    --color-indigo-dark-alpha-5: #3f69fe45; 
    --color-indigo-dark-alpha-6: #3e6bff59; 
    --color-indigo-dark-alpha-7: #3d6aff78; 
    --color-indigo-dark-alpha-8: #3e6bffa6; 
    --color-indigo-dark-alpha-9: #4571ffd9; 
    --color-indigo-dark-alpha-10: #5a7effe3; 
    --color-indigo-dark-alpha-11: #86a0fffa; 
    --color-indigo-dark-alpha-12: #f2f5fffa; 
    --color-indigo-light-alpha-1: #05058203; 
    --color-indigo-light-alpha-2: #054cff08; 
    --color-indigo-light-alpha-3: #0144ff0f; 
    --color-indigo-light-alpha-4: #0247f51a; 
    --color-indigo-light-alpha-5: #023ceb26; 
    --color-indigo-light-alpha-6: #013de438; 
    --color-indigo-light-alpha-7: #0038e052; 
    --color-indigo-light-alpha-8: #0134db73; 
    --color-indigo-light-alpha-9: #0031d2c2; 
    --color-indigo-light-alpha-10: #002cbdc4; 
    --color-indigo-light-alpha-11: #00259ecc; 
    --color-indigo-light-alpha-12: #000e3af0; 
    --color-blue-dark-1: #0f1720; 
    --color-blue-dark-2: #0f1b2d; 
    --color-blue-dark-3: #10243e; 
    --color-blue-dark-4: #102a4c; 
    --color-blue-dark-5: #0f3058; 
    --color-blue-dark-6: #0d3868; 
    --color-blue-dark-7: #0a4481; 
    --color-blue-dark-8: #0954a5; 
    --color-blue-dark-9: #0091ff; 
    --color-blue-dark-10: #369eff; 
    --color-blue-dark-11: #52a9ff; 
    --color-blue-dark-12: #eaf6ff; 
    --color-blue-light-1: #fbfdff; 
    --color-blue-light-2: #f5faff; 
    --color-blue-light-3: #edf6ff; 
    --color-blue-light-4: #e1f0ff; 
    --color-blue-light-5: #cee7fe; 
    --color-blue-light-6: #b7d9f8; 
    --color-blue-light-7: #96c7f2; 
    --color-blue-light-8: #5eb0ef; 
    --color-blue-light-9: #0091ff; 
    --color-blue-light-10: #0081f1; 
    --color-blue-light-11: #006adc; 
    --color-blue-light-12: #00254d; 
    --color-blue-dark-alpha-1: #00000000; 
    --color-blue-dark-alpha-2: #0f5afc0f; 
    --color-blue-dark-alpha-3: #1677fe24; 
    --color-blue-dark-alpha-4: #1476fe33; 
    --color-blue-dark-alpha-5: #0f7bfe40; 
    --color-blue-dark-alpha-6: #097cff52; 
    --color-blue-dark-alpha-7: #047dff70; 
    --color-blue-dark-alpha-8: #057eff99; 
    --color-blue-dark-alpha-9: #0095fffa; 
    --color-blue-dark-alpha-10: #37a1fffa; 
    --color-blue-dark-alpha-11: #53acfffa; 
    --color-blue-dark-alpha-12: #effbfffa; 
    --color-blue-light-alpha-1: #0582ff05; 
    --color-blue-light-alpha-2: #0582ff0a; 
    --color-blue-light-alpha-3: #0280ff12; 
    --color-blue-light-alpha-4: #0180ff1f; 
    --color-blue-light-alpha-5: #0180ef30; 
    --color-blue-light-alpha-6: #0177e647; 
    --color-blue-light-alpha-7: #0077df69; 
    --color-blue-light-alpha-8: #0082e6a1; 
    --color-blue-light-alpha-9: #0091fffa; 
    --color-blue-light-alpha-10: #0080f1fa; 
    --color-blue-light-alpha-11: #0066dbfa; 
    --color-blue-light-alpha-12: #002149fa; 
    --color-cyan-dark-1: #07191d; 
    --color-cyan-dark-2: #061e24; 
    --color-cyan-dark-3: #072830; 
    --color-cyan-dark-4: #07303b; 
    --color-cyan-dark-5: #073844; 
    --color-cyan-dark-6: #064150; 
    --color-cyan-dark-7: #045063; 
    --color-cyan-dark-8: #00647d; 
    --color-cyan-dark-9: #05a2c2; 
    --color-cyan-dark-10: #00b1cc; 
    --color-cyan-dark-11: #00c2d7; 
    --color-cyan-dark-12: #e1f8fa; 
    --color-cyan-light-1: #fafdfe; 
    --color-cyan-light-2: #f2fcfd; 
    --color-cyan-light-3: #e7f9fb; 
    --color-cyan-light-4: #d8f3f6; 
    --color-cyan-light-5: #c4eaef; 
    --color-cyan-light-6: #aadee6; 
    --color-cyan-light-7: #84cdda; 
    --color-cyan-light-8: #3db9cf; 
    --color-cyan-light-9: #05a2c2; 
    --color-cyan-light-10: #0894b3; 
    --color-cyan-light-11: #0c7792; 
    --color-cyan-light-12: #04313c; 
    --color-cyan-dark-alpha-1: #00000000; 
    --color-cyan-dark-alpha-2: #00bbff08; 
    --color-cyan-dark-alpha-3: #07cbfc17; 
    --color-cyan-dark-alpha-4: #07c5ff21; 
    --color-cyan-dark-alpha-5: #07cdfe2b; 
    --color-cyan-dark-alpha-6: #02c8ff3b; 
    --color-cyan-dark-alpha-7: #00ccff4f; 
    --color-cyan-dark-alpha-8: #00c8ff6e; 
    --color-cyan-dark-alpha-9: #04d5ffba; 
    --color-cyan-dark-alpha-10: #00ddffc4; 
    --color-cyan-dark-alpha-11: #00e5fed1; 
    --color-cyan-dark-alpha-12: #e6fdfffa; 
    --color-cyan-light-alpha-1: #059bcd05; 
    --color-cyan-light-alpha-2: #00c6d80d; 
    --color-cyan-light-alpha-3: #02c0d517; 
    --color-cyan-light-alpha-4: #00b1c426; 
    --color-cyan-light-alpha-5: #01a4ba3b; 
    --color-cyan-light-alpha-6: #019cb454; 
    --color-cyan-light-alpha-7: #0097b27a; 
    --color-cyan-light-alpha-8: #00a3c0c2; 
    --color-cyan-light-alpha-9: #00a1c1fa; 
    --color-cyan-light-alpha-10: #0090b0f7; 
    --color-cyan-light-alpha-11: #00718df2; 
    --color-cyan-light-alpha-12: #002d38fa; 
    --color-teal-dark-1: #091915; 
    --color-teal-dark-2: #04201b; 
    --color-teal-dark-3: #062923; 
    --color-teal-dark-4: #07312b; 
    --color-teal-dark-5: #083932; 
    --color-teal-dark-6: #09443c; 
    --color-teal-dark-7: #0b544a; 
    --color-teal-dark-8: #0c6d62; 
    --color-teal-dark-9: #12a594; 
    --color-teal-dark-10: #10b3a3; 
    --color-teal-dark-11: #0ac5b3; 
    --color-teal-dark-12: #e1faf4; 
    --color-teal-light-1: #fafefd; 
    --color-teal-light-2: #f1fcfa; 
    --color-teal-light-3: #e7f9f5; 
    --color-teal-light-4: #d9f3ee; 
    --color-teal-light-5: #c7ebe5; 
    --color-teal-light-6: #afdfd7; 
    --color-teal-light-7: #8dcec3; 
    --color-teal-light-8: #53b9ab; 
    --color-teal-light-9: #12a594; 
    --color-teal-light-10: #0e9888; 
    --color-teal-light-11: #067a6f; 
    --color-teal-light-12: #10302b; 
    --color-teal-dark-alpha-1: #00000000; 
    --color-teal-dark-alpha-2: #00fbd508; 
    --color-teal-dark-alpha-3: #00fddc12; 
    --color-teal-dark-alpha-4: #00fde81a; 
    --color-teal-dark-alpha-5: #02fee424; 
    --color-teal-dark-alpha-6: #09ffe630; 
    --color-teal-dark-alpha-7: #11ffe342; 
    --color-teal-dark-alpha-8: #11ffe75e; 
    --color-teal-dark-alpha-9: #18ffe49c; 
    --color-teal-dark-alpha-10: #13ffe7ab; 
    --color-teal-dark-alpha-11: #0affe7bf; 
    --color-teal-dark-alpha-12: #e6fff9fa; 
    --color-teal-light-alpha-1: #05cd9b05; 
    --color-teal-light-alpha-2: #01c8a40d; 
    --color-teal-light-alpha-3: #02c09717; 
    --color-teal-light-alpha-4: #02af8c26; 
    --color-teal-light-alpha-5: #00a48938; 
    --color-teal-light-alpha-6: #0099804f; 
    --color-teal-light-alpha-7: #01927a73; 
    --color-teal-light-alpha-8: #009783ad; 
    --color-teal-light-alpha-9: #009e8ced; 
    --color-teal-light-alpha-10: #009281f2; 
    --color-teal-light-alpha-11: #00776bfa; 
    --color-teal-light-alpha-12: #00221df0; 
    --color-green-dark-1: #0d1912; 
    --color-green-dark-2: #0c1f17; 
    --color-green-dark-3: #0f291e; 
    --color-green-dark-4: #113123; 
    --color-green-dark-5: #133929; 
    --color-green-dark-6: #164430; 
    --color-green-dark-7: #1b543a; 
    --color-green-dark-8: #236e4a; 
    --color-green-dark-9: #30a46c; 
    --color-green-dark-10: #3cb179; 
    --color-green-dark-11: #4cc38a; 
    --color-green-dark-12: #e5fbeb; 
    --color-green-light-1: #fbfefc; 
    --color-green-light-2: #f2fcf5; 
    --color-green-light-3: #e9f9ee; 
    --color-green-light-4: #ddf3e4; 
    --color-green-light-5: #ccebd7; 
    --color-green-light-6: #b4dfc4; 
    --color-green-light-7: #92ceac; 
    --color-green-light-8: #5bb98c; 
    --color-green-light-9: #30a46c; 
    --color-green-light-10: #299764; 
    --color-green-light-11: #18794e; 
    --color-green-light-12: #153226; 
    --color-green-dark-alpha-1: #00000000; 
    --color-green-dark-alpha-2: #00f7ca08; 
    --color-green-dark-alpha-3: #2afebe12; 
    --color-green-dark-alpha-4: #33feb31a; 
    --color-green-dark-alpha-5: #38feb524; 
    --color-green-dark-alpha-6: #3dffb130; 
    --color-green-dark-alpha-7: #43ffad42; 
    --color-green-dark-alpha-8: #49ffaa5e; 
    --color-green-dark-alpha-9: #47ffa69c; 
    --color-green-dark-alpha-10: #54ffafa8; 
    --color-green-dark-alpha-11: #62ffb3bd; 
    --color-green-dark-alpha-12: #eafff0fa; 
    --color-green-light-alpha-1: #05c04305; 
    --color-green-light-alpha-2: #00c43b0d; 
    --color-green-light-alpha-3: #02ba3c17; 
    --color-green-light-alpha-4: #01a63521; 
    --color-green-light-alpha-5: #009b3633; 
    --color-green-light-alpha-6: #0193364a; 
    --color-green-light-alpha-7: #008c3d6e; 
    --color-green-light-alpha-8: #00934ca3; 
    --color-green-light-alpha-9: #008f4acf; 
    --color-green-light-alpha-10: #008346d6; 
    --color-green-light-alpha-11: #006b3be8; 
    --color-green-light-alpha-12: #002012eb; 
    --color-grass-dark-1: #0d1912; 
    --color-grass-dark-2: #0f1e13; 
    --color-grass-dark-3: #132819; 
    --color-grass-dark-4: #16301d; 
    --color-grass-dark-5: #193921; 
    --color-grass-dark-6: #1d4427; 
    --color-grass-dark-7: #245530; 
    --color-grass-dark-8: #2f6e3b; 
    --color-grass-dark-9: #46a758; 
    --color-grass-dark-10: #55b467; 
    --color-grass-dark-11: #63c174; 
    --color-grass-dark-12: #e5fbeb; 
    --color-grass-light-1: #fbfefb; 
    --color-grass-light-2: #f3fcf3; 
    --color-grass-light-3: #ebf9eb; 
    --color-grass-light-4: #dff3df; 
    --color-grass-light-5: #ceebcf; 
    --color-grass-light-6: #b7dfba; 
    --color-grass-light-7: #97cf9c; 
    --color-grass-light-8: #65ba75; 
    --color-grass-light-9: #46a758; 
    --color-grass-light-10: #3d9a50; 
    --color-grass-light-11: #297c3b; 
    --color-grass-light-12: #1b311e; 
    --color-grass-dark-alpha-1: #00000000; 
    --color-grass-dark-alpha-2: #68fc3f05; 
    --color-grass-dark-alpha-3: #68fc7b12; 
    --color-grass-dark-alpha-4: #67ff801a; 
    --color-grass-dark-alpha-5: #63fe7d24; 
    --color-grass-dark-alpha-6: #63ff8230; 
    --color-grass-dark-alpha-7: #65ff8442; 
    --color-grass-dark-alpha-8: #69ff825e; 
    --color-grass-dark-alpha-9: #69ff829e; 
    --color-grass-dark-alpha-10: #78ff91ab; 
    --color-grass-dark-alpha-11: #83ff97ba; 
    --color-grass-dark-alpha-12: #eafff0fa; 
    --color-grass-light-alpha-1: #05c00505; 
    --color-grass-light-alpha-2: #05c0050d; 
    --color-grass-light-alpha-3: #02b30214; 
    --color-grass-light-alpha-4: #01a00121; 
    --color-grass-light-alpha-5: #01970630; 
    --color-grass-light-alpha-6: #018e0c47; 
    --color-grass-light-alpha-7: #008a0c69; 
    --color-grass-light-alpha-8: #008d1a99; 
    --color-grass-light-alpha-9: #008619ba; 
    --color-grass-light-alpha-10: #007a19c2; 
    --color-grass-light-alpha-11: #006316d6; 
    --color-grass-light-alpha-12: #001904e3; 
    --color-orange-dark-1: #1f1206; 
    --color-orange-dark-2: #2b1400; 
    --color-orange-dark-3: #391a03; 
    --color-orange-dark-4: #441f04; 
    --color-orange-dark-5: #4f2305; 
    --color-orange-dark-6: #5f2a06; 
    --color-orange-dark-7: #763205; 
    --color-orange-dark-8: #943e00; 
    --color-orange-dark-9: #f76808; 
    --color-orange-dark-10: #ff802b; 
    --color-orange-dark-11: #ff8b3e; 
    --color-orange-dark-12: #feeadd; 
    --color-orange-light-1: #fefcfb; 
    --color-orange-light-2: #fef8f4; 
    --color-orange-light-3: #fff1e7; 
    --color-orange-light-4: #ffe8d7; 
    --color-orange-light-5: #ffdcc3; 
    --color-orange-light-6: #ffcca7; 
    --color-orange-light-7: #ffb381; 
    --color-orange-light-8: #fa934e; 
    --color-orange-light-9: #f76808; 
    --color-orange-light-10: #ed5f00; 
    --color-orange-light-11: #bd4b00; 
    --color-orange-light-12: #451e11; 
    --color-orange-dark-alpha-1: #00000000; 
    --color-orange-dark-alpha-2: #fd37000d; 
    --color-orange-dark-alpha-3: #fd54001f; 
    --color-orange-dark-alpha-4: #fe61002b; 
    --color-orange-dark-alpha-5: #fe620138; 
    --color-orange-dark-alpha-6: #ff65064a; 
    --color-orange-dark-alpha-7: #ff640363; 
    --color-orange-dark-alpha-8: #fe660085; 
    --color-orange-dark-alpha-9: #ff6b08f5; 
    --color-orange-dark-alpha-10: #ff842cfa; 
    --color-orange-dark-alpha-11: #ff8c3ffa; 
    --color-orange-dark-alpha-12: #ffeee1fa; 
    --color-orange-light-alpha-1: #c0430505; 
    --color-orange-light-alpha-2: #e860050a; 
    --color-orange-light-alpha-3: #ff6c0317; 
    --color-orange-light-alpha-4: #ff6e0029; 
    --color-orange-light-alpha-5: #ff6b013d; 
    --color-orange-light-alpha-6: #ff6b0159; 
    --color-orange-light-alpha-7: #ff660180; 
    --color-orange-light-alpha-8: #f86300b0; 
    --color-orange-light-alpha-9: #f76300f7; 
    --color-orange-light-alpha-10: #ed5b00fa; 
    --color-orange-light-alpha-11: #bc4800fa; 
    --color-orange-light-alpha-12: #380e00ed; 
    --color-brown-dark-1: #191513; 
    --color-brown-dark-2: #221813; 
    --color-brown-dark-3: #2e201a; 
    --color-brown-dark-4: #36261e; 
    --color-brown-dark-5: #3e2c22; 
    --color-brown-dark-6: #493528; 
    --color-brown-dark-7: #5c4332; 
    --color-brown-dark-8: #775940; 
    --color-brown-dark-9: #ad7f58; 
    --color-brown-dark-10: #bd8b60; 
    --color-brown-dark-11: #dba16e; 
    --color-brown-dark-12: #faf0e5; 
    --color-brown-light-1: #fefdfc; 
    --color-brown-light-2: #fcf9f6; 
    --color-brown-light-3: #f8f1ea; 
    --color-brown-light-4: #f4e9dd; 
    --color-brown-light-5: #efddcc; 
    --color-brown-light-6: #e8cdb5; 
    --color-brown-light-7: #ddb896; 
    --color-brown-light-8: #d09e72; 
    --color-brown-light-9: #ad7f58; 
    --color-brown-light-10: #a07653; 
    --color-brown-light-11: #886349; 
    --color-brown-light-12: #3f2c22; 
    --color-brown-dark-alpha-1: #00000000; 
    --color-brown-dark-alpha-2: #ff69130a; 
    --color-brown-dark-alpha-3: #fd916317; 
    --color-brown-dark-alpha-4: #fe9f6c1f; 
    --color-brown-dark-alpha-5: #feac7229; 
    --color-brown-dark-alpha-6: #feb07936; 
    --color-brown-dark-alpha-7: #feb47e4a; 
    --color-brown-dark-alpha-8: #febc8269; 
    --color-brown-dark-alpha-9: #ffba7ea3; 
    --color-brown-dark-alpha-10: #ffbb7fb5; 
    --color-brown-dark-alpha-11: #ffbb7fd6; 
    --color-brown-dark-alpha-12: #fff5e9fa; 
    --color-brown-light-alpha-1: #ab580503; 
    --color-brown-light-alpha-2: #ab58050a; 
    --color-brown-light-alpha-3: #ab560214; 
    --color-brown-light-alpha-4: #ad5a0121; 
    --color-brown-light-alpha-5: #af550033; 
    --color-brown-light-alpha-6: #b052014a; 
    --color-brown-light-alpha-7: #ac530069; 
    --color-brown-light-alpha-8: #aa4f008c; 
    --color-brown-light-alpha-9: #823d00a6; 
    --color-brown-light-alpha-10: #723300ad; 
    --color-brown-light-alpha-11: #582500b5; 
    --color-brown-light-alpha-12: #220c00de; 
    --color-sky-dark-1: #0c1820; 
    --color-sky-dark-2: #071d2a; 
    --color-sky-dark-3: #082636; 
    --color-sky-dark-4: #082d41; 
    --color-sky-dark-5: #08354c; 
    --color-sky-dark-6: #083e59; 
    --color-sky-dark-7: #064b6b; 
    --color-sky-dark-8: #005d85; 
    --color-sky-dark-9: #68ddfd; 
    --color-sky-dark-10: #8ae8ff; 
    --color-sky-dark-11: #2ec8ee; 
    --color-sky-dark-12: #eaf8ff; 
    --color-sky-light-1: #f9feff; 
    --color-sky-light-2: #f1fcff; 
    --color-sky-light-3: #e4f9ff; 
    --color-sky-light-4: #d5f4fd; 
    --color-sky-light-5: #c1ecf9; 
    --color-sky-light-6: #a4dff1; 
    --color-sky-light-7: #79cfea; 
    --color-sky-light-8: #2ebde5; 
    --color-sky-light-9: #68ddfd; 
    --color-sky-light-10: #5fd4f4; 
    --color-sky-light-11: #0078a1; 
    --color-sky-light-12: #003242; 
    --color-sky-dark-alpha-1: #00000000; 
    --color-sky-dark-alpha-2: #0087fe0d; 
    --color-sky-dark-alpha-3: #00a5fe1a; 
    --color-sky-dark-alpha-4: #00a6ff26; 
    --color-sky-dark-alpha-5: #00a9fe33; 
    --color-sky-dark-alpha-6: #00aefe42; 
    --color-sky-dark-alpha-7: #00aefe57; 
    --color-sky-dark-alpha-8: #00aeff73; 
    --color-sky-dark-alpha-9: #6ae1fffa; 
    --color-sky-dark-alpha-10: #8decfffa; 
    --color-sky-dark-alpha-11: #31d6ffeb; 
    --color-sky-dark-alpha-12: #effdfffa; 
    --color-sky-light-alpha-1: #05d5ff05; 
    --color-sky-light-alpha-2: #01c8ff0d; 
    --color-sky-light-alpha-3: #01c8ff1c; 
    --color-sky-light-alpha-4: #00baf32b; 
    --color-sky-light-alpha-5: #01b1e73d; 
    --color-sky-light-alpha-6: #00a5d85c; 
    --color-sky-light-alpha-7: #00a5d787; 
    --color-sky-light-alpha-8: #00afdfd1; 
    --color-sky-light-alpha-9: #00c5fc96; 
    --color-sky-light-alpha-10: #00baeda1; 
    --color-sky-light-alpha-11: #00759ffa; 
    --color-sky-light-alpha-12: #002e3efa; 
    --color-mint-dark-1: #081917; 
    --color-mint-dark-2: #05201e; 
    --color-mint-dark-3: #052926; 
    --color-mint-dark-4: #04312c; 
    --color-mint-dark-5: #033a34; 
    --color-mint-dark-6: #01453d; 
    --color-mint-dark-7: #00564a; 
    --color-mint-dark-8: #006d5b; 
    --color-mint-dark-9: #70e1c8; 
    --color-mint-dark-10: #95f3d9; 
    --color-mint-dark-11: #25d0ab; 
    --color-mint-dark-12: #e7fcf7; 
    --color-mint-light-1: #f9fefd; 
    --color-mint-light-2: #effefa; 
    --color-mint-light-3: #e1fbf4; 
    --color-mint-light-4: #d2f7ed; 
    --color-mint-light-5: #c0efe3; 
    --color-mint-light-6: #a5e4d4; 
    --color-mint-light-7: #7dd4c0; 
    --color-mint-light-8: #40c4aa; 
    --color-mint-light-9: #70e1c8; 
    --color-mint-light-10: #69d9c1; 
    --color-mint-light-11: #147d6f; 
    --color-mint-light-12: #09342e; 
    --color-mint-dark-alpha-1: #00000000; 
    --color-mint-dark-alpha-2: #00fbfb08; 
    --color-mint-dark-alpha-3: #00fded12; 
    --color-mint-dark-alpha-4: #00fde01a; 
    --color-mint-dark-alpha-5: #00fee024; 
    --color-mint-dark-alpha-6: #00fedc30; 
    --color-mint-dark-alpha-7: #00fed845; 
    --color-mint-dark-alpha-8: #00fed05e; 
    --color-mint-dark-alpha-9: #80ffe3de; 
    --color-mint-dark-alpha-10: #9dffe3f2; 
    --color-mint-dark-alpha-11: #2cffd1cc; 
    --color-mint-dark-alpha-12: #ecfffbfa; 
    --color-mint-light-alpha-1: #05d5ac05; 
    --color-mint-light-alpha-2: #01efb00f; 
    --color-mint-light-alpha-3: #01dda21f; 
    --color-mint-light-alpha-4: #01d29a2e; 
    --color-mint-light-alpha-5: #01be8f40; 
    --color-mint-light-alpha-6: #00b38659; 
    --color-mint-light-alpha-7: #00ab8382; 
    --color-mint-light-alpha-8: #00b08dbf; 
    --color-mint-light-alpha-9: #00c99e8f; 
    --color-mint-light-alpha-10: #00be9596; 
    --color-mint-light-alpha-11: #007263eb; 
    --color-mint-light-alpha-12: #002d27f5; 
    --color-lime-dark-1: #141807; 
    --color-lime-dark-2: #181d08; 
    --color-lime-dark-3: #1e260d; 
    --color-lime-dark-4: #252e0f; 
    --color-lime-dark-5: #2b3711; 
    --color-lime-dark-6: #344213; 
    --color-lime-dark-7: #415215; 
    --color-lime-dark-8: #536716; 
    --color-lime-dark-9: #99d52a; 
    --color-lime-dark-10: #c4f042; 
    --color-lime-dark-11: #87be22; 
    --color-lime-dark-12: #effbdd; 
    --color-lime-light-1: #fcfdfa; 
    --color-lime-light-2: #f7fcf0; 
    --color-lime-light-3: #eefadc; 
    --color-lime-light-4: #e4f7c7; 
    --color-lime-light-5: #d7f2b0; 
    --color-lime-light-6: #c9e894; 
    --color-lime-light-7: #b1d16a; 
    --color-lime-light-8: #94ba2c; 
    --color-lime-light-9: #99d52a; 
    --color-lime-light-10: #93c926; 
    --color-lime-light-11: #5d770d; 
    --color-lime-light-12: #263209; 
    --color-lime-dark-alpha-1: #00000000; 
    --color-lime-dark-alpha-2: #cafb3505; 
    --color-lime-dark-alpha-3: #b8fd6a0f; 
    --color-lime-dark-alpha-4: #c4fd5b1a; 
    --color-lime-dark-alpha-5: #befe5124; 
    --color-lime-dark-alpha-6: #c5ff492e; 
    --color-lime-dark-alpha-7: #c8fe3f40; 
    --color-lime-dark-alpha-8: #ccff3357; 
    --color-lime-dark-alpha-9: #b7ff32d1; 
    --color-lime-dark-alpha-10: #d1ff46f0; 
    --color-lime-dark-alpha-11: #b5ff2cb8; 
    --color-lime-dark-alpha-12: #f4ffe1fa; 
    --color-lime-light-alpha-1: #699b0505; 
    --color-lime-light-alpha-2: #77cc010f; 
    --color-lime-light-alpha-3: #84db0124; 
    --color-lime-light-alpha-4: #83db0038; 
    --color-lime-light-alpha-5: #7cd5004f; 
    --color-lime-light-alpha-6: #7fc8006b; 
    --color-lime-light-alpha-7: #78b00094; 
    --color-lime-light-alpha-8: #7eac00d4; 
    --color-lime-light-alpha-9: #85cd00d6; 
    --color-lime-light-alpha-10: #80c000d9; 
    --color-lime-light-alpha-11: #547000f2; 
    --color-lime-light-alpha-12: #1e2b00f5; 
    --color-yellow-dark-1: #1c1500; 
    --color-yellow-dark-2: #221a00; 
    --color-yellow-dark-3: #2c2100; 
    --color-yellow-dark-4: #352800; 
    --color-yellow-dark-5: #3e3000; 
    --color-yellow-dark-6: #493c00; 
    --color-yellow-dark-7: #594a05; 
    --color-yellow-dark-8: #705e00; 
    --color-yellow-dark-9: #f5d90a; 
    --color-yellow-dark-10: #ffef5c; 
    --color-yellow-dark-11: #f0c000; 
    --color-yellow-dark-12: #fffad1; 
    --color-yellow-light-1: #fdfdf9; 
    --color-yellow-light-2: #fffce8; 
    --color-yellow-light-3: #fffbd1; 
    --color-yellow-light-4: #fff8bb; 
    --color-yellow-light-5: #fef2a4; 
    --color-yellow-light-6: #f9e68c; 
    --color-yellow-light-7: #efd36c; 
    --color-yellow-light-8: #ebbc00; 
    --color-yellow-light-9: #f5d90a; 
    --color-yellow-light-10: #f7ce00; 
    --color-yellow-light-11: #946800; 
    --color-yellow-light-12: #35290f; 
    --color-yellow-dark-alpha-1: #00000000; 
    --color-yellow-dark-alpha-2: #facd0008; 
    --color-yellow-dark-alpha-3: #fdbe0012; 
    --color-yellow-dark-alpha-4: #fdc2001c; 
    --color-yellow-dark-alpha-5: #fec70026; 
    --color-yellow-dark-alpha-6: #fed80033; 
    --color-yellow-dark-alpha-7: #ffdb1345; 
    --color-yellow-dark-alpha-8: #fed8005e; 
    --color-yellow-dark-alpha-9: #ffe20af5; 
    --color-yellow-dark-alpha-10: #fff45efa; 
    --color-yellow-dark-alpha-11: #ffcc00ed; 
    --color-yellow-dark-alpha-12: #ffffd5fa; 
    --color-yellow-light-alpha-1: #abab0505; 
    --color-yellow-light-alpha-2: #ffdd0217; 
    --color-yellow-light-alpha-3: #ffea012e; 
    --color-yellow-light-alpha-4: #ffe60145; 
    --color-yellow-light-alpha-5: #fcdb005c; 
    --color-yellow-light-alpha-6: #f2c90073; 
    --color-yellow-light-alpha-7: #e3b20094; 
    --color-yellow-light-alpha-8: #ebbc00fa; 
    --color-yellow-light-alpha-9: #f5d800f5; 
    --color-yellow-light-alpha-10: #f7ce00fa; 
    --color-yellow-light-alpha-11: #926600fa; 
    --color-yellow-light-alpha-12: #291c00f0; 
    --color-amber-dark-1: #1f1300; 
    --color-amber-dark-2: #271700; 
    --color-amber-dark-3: #341c00; 
    --color-amber-dark-4: #3f2200; 
    --color-amber-dark-5: #4a2900; 
    --color-amber-dark-6: #573300; 
    --color-amber-dark-7: #693f05; 
    --color-amber-dark-8: #824e00; 
    --color-amber-dark-9: #ffb224; 
    --color-amber-dark-10: #ffcb47; 
    --color-amber-dark-11: #f1a10d; 
    --color-amber-dark-12: #fef3dd; 
    --color-amber-light-1: #fefdfb; 
    --color-amber-light-2: #fff9ed; 
    --color-amber-light-3: #fff4d5; 
    --color-amber-light-4: #ffecbc; 
    --color-amber-light-5: #ffe3a2; 
    --color-amber-light-6: #ffd386; 
    --color-amber-light-7: #f3ba63; 
    --color-amber-light-8: #ee9d2b; 
    --color-amber-light-9: #ffb224; 
    --color-amber-light-10: #ffa01c; 
    --color-amber-light-11: #ad5700; 
    --color-amber-light-12: #4e2009; 
    --color-amber-dark-alpha-1: #00000000; 
    --color-amber-dark-alpha-2: #fd83000a; 
    --color-amber-dark-alpha-3: #fe730017; 
    --color-amber-dark-alpha-4: #ff7b0024; 
    --color-amber-dark-alpha-5: #ff840030; 
    --color-amber-dark-alpha-6: #ff950040; 
    --color-amber-dark-alpha-7: #ff970f54; 
    --color-amber-dark-alpha-8: #ff990070; 
    --color-amber-dark-alpha-9: #ffb625fa; 
    --color-amber-dark-alpha-10: #ffce48fa; 
    --color-amber-dark-alpha-11: #ffab0ef0; 
    --color-amber-dark-alpha-12: #fff8e1fa; 
    --color-amber-light-alpha-1: #c0820505; 
    --color-amber-light-alpha-2: #ffab0212; 
    --color-amber-light-alpha-3: #ffbb012b; 
    --color-amber-light-alpha-4: #ffb70042; 
    --color-amber-light-alpha-5: #ffb3005e; 
    --color-amber-light-alpha-6: #ffa20178; 
    --color-amber-light-alpha-7: #ec8d009c; 
    --color-amber-light-alpha-8: #ea8900d4; 
    --color-amber-light-alpha-9: #ffa600db; 
    --color-amber-light-alpha-10: #ff9500e3; 
    --color-amber-light-alpha-11: #ab5300fa; 
    --color-amber-light-alpha-12: #481800f5; 
    --color-gray-dark-1: #161616; 
    --color-gray-dark-2: #1c1c1c; 
    --color-gray-dark-3: #232323; 
    --color-gray-dark-4: #282828; 
    --color-gray-dark-5: #2e2e2e; 
    --color-gray-dark-6: #343434; 
    --color-gray-dark-7: #3e3e3e; 
    --color-gray-dark-8: #505050; 
    --color-gray-dark-9: #707070; 
    --color-gray-dark-10: #7e7e7e; 
    --color-gray-dark-11: #a0a0a0; 
    --color-gray-dark-12: #ededed; 
    --color-gray-light-1: #fcfcfc; 
    --color-gray-light-2: #f8f8f8; 
    --color-gray-light-3: #f3f3f3; 
    --color-gray-light-4: #ededed; 
    --color-gray-light-5: #e8e8e8; 
    --color-gray-light-6: #e2e2e2; 
    --color-gray-light-7: #dbdbdb; 
    --color-gray-light-8: #c7c7c7; 
    --color-gray-light-9: #8f8f8f; 
    --color-gray-light-10: #858585; 
    --color-gray-light-11: #6f6f6f; 
    --color-gray-light-12: #171717; 
    --color-gray-dark-alpha-1: #00000000; 
    --color-gray-dark-alpha-2: #ffffff08; 
    --color-gray-dark-alpha-3: #ffffff0f; 
    --color-gray-dark-alpha-4: #ffffff14; 
    --color-gray-dark-alpha-5: #ffffff1a; 
    --color-gray-dark-alpha-6: #ffffff21; 
    --color-gray-dark-alpha-7: #ffffff2b; 
    --color-gray-dark-alpha-8: #ffffff40; 
    --color-gray-dark-alpha-9: #ffffff63; 
    --color-gray-dark-alpha-10: #ffffff73; 
    --color-gray-dark-alpha-11: #ffffff96; 
    --color-gray-dark-alpha-12: #ffffffeb; 
    --color-gray-light-alpha-1: #00000003; 
    --color-gray-light-alpha-2: #00000008; 
    --color-gray-light-alpha-3: #0000000d; 
    --color-gray-light-alpha-4: #00000012; 
    --color-gray-light-alpha-5: #00000017; 
    --color-gray-light-alpha-6: #0000001c; 
    --color-gray-light-alpha-7: #00000024; 
    --color-gray-light-alpha-8: #00000038; 
    --color-gray-light-alpha-9: #00000070; 
    --color-gray-light-alpha-10: #0000007a; 
    --color-gray-light-alpha-11: #0000008f; 
    --color-gray-light-alpha-12: #000000e8; 
    --color-mauve-dark-1: #161618; 
    --color-mauve-dark-2: #1c1c1f; 
    --color-mauve-dark-3: #232326; 
    --color-mauve-dark-4: #28282c; 
    --color-mauve-dark-5: #2e2e32; 
    --color-mauve-dark-6: #34343a; 
    --color-mauve-dark-7: #3e3e44; 
    --color-mauve-dark-8: #504f57; 
    --color-mauve-dark-9: #706f78; 
    --color-mauve-dark-10: #7e7d86; 
    --color-mauve-dark-11: #a09fa6; 
    --color-mauve-dark-12: #ededef; 
    --color-mauve-light-1: #fdfcfd; 
    --color-mauve-light-2: #f9f8f9; 
    --color-mauve-light-3: #f4f2f4; 
    --color-mauve-light-4: #eeedef; 
    --color-mauve-light-5: #e9e8ea; 
    --color-mauve-light-6: #e4e2e4; 
    --color-mauve-light-7: #dcdbdd; 
    --color-mauve-light-8: #c8c7cb; 
    --color-mauve-light-9: #908e96; 
    --color-mauve-light-10: #86848d; 
    --color-mauve-light-11: #6f6e77; 
    --color-mauve-light-12: #1a1523; 
    --color-mauve-dark-alpha-1: #00000000; 
    --color-mauve-dark-alpha-2: #d7d7fa08; 
    --color-mauve-dark-alpha-3: #ebebfe0f; 
    --color-mauve-dark-alpha-4: #e5e5fe17; 
    --color-mauve-dark-alpha-5: #eaeafe1c; 
    --color-mauve-dark-alpha-6: #e1e1fe26; 
    --color-mauve-dark-alpha-7: #e8e8fe30; 
    --color-mauve-dark-alpha-8: #eae7ff45; 
    --color-mauve-dark-alpha-9: #eeecff6b; 
    --color-mauve-dark-alpha-10: #f0eeff7a; 
    --color-mauve-dark-alpha-11: #f7f5ff9e; 
    --color-mauve-dark-alpha-12: #fdfdffed; 
    --color-mauve-light-alpha-1: #58055803; 
    --color-mauve-light-alpha-2: #29052908; 
    --color-mauve-light-alpha-3: #2700270d; 
    --color-mauve-light-alpha-4: #10011e12; 
    --color-mauve-light-alpha-5: #0d021817; 
    --color-mauve-light-alpha-6: #1201121c; 
    --color-mauve-light-alpha-7: #08010f24; 
    --color-mauve-light-alpha-8: #05001238; 
    --color-mauve-light-alpha-9: #05001270; 
    --color-mauve-light-alpha-10: #0400137a; 
    --color-mauve-light-alpha-11: #02001091; 
    --color-mauve-light-alpha-12: #05000feb; 
    --color-slate-dark-1: #151718; 
    --color-slate-dark-2: #1a1d1e; 
    --color-slate-dark-3: #202425; 
    --color-slate-dark-4: #26292b; 
    --color-slate-dark-5: #2b2f31; 
    --color-slate-dark-6: #313538; 
    --color-slate-dark-7: #3a3f42; 
    --color-slate-dark-8: #4c5155; 
    --color-slate-dark-9: #697177; 
    --color-slate-dark-10: #787f85; 
    --color-slate-dark-11: #9ba1a6; 
    --color-slate-dark-12: #ecedee; 
    --color-slate-light-1: #fbfcfd; 
    --color-slate-light-2: #f8f9fa; 
    --color-slate-light-3: #f1f3f5; 
    --color-slate-light-4: #eceef0; 
    --color-slate-light-5: #e6e8eb; 
    --color-slate-light-6: #dfe3e6; 
    --color-slate-light-7: #d7dbdf; 
    --color-slate-light-8: #c1c8cd; 
    --color-slate-light-9: #889096; 
    --color-slate-light-10: #7e868c; 
    --color-slate-light-11: #687076; 
    --color-slate-light-12: #11181c; 
    --color-slate-dark-alpha-1: #00000000; 
    --color-slate-dark-alpha-2: #d5feff08; 
    --color-slate-dark-alpha-3: #d6fbfc0f; 
    --color-slate-dark-alpha-4: #e2f0fd14; 
    --color-slate-dark-alpha-5: #dff3fd1c; 
    --color-slate-dark-alpha-6: #dfeffe24; 
    --color-slate-dark-alpha-7: #e0f3ff2e; 
    --color-slate-dark-alpha-8: #e5f2fe42; 
    --color-slate-dark-alpha-9: #e1f1ff69; 
    --color-slate-dark-alpha-10: #e7f3ff78; 
    --color-slate-dark-alpha-11: #eff7ff9e; 
    --color-slate-dark-alpha-12: #fdfeffed; 
    --color-slate-light-alpha-1: #05448205; 
    --color-slate-light-alpha-2: #05294d08; 
    --color-slate-light-alpha-3: #0025490d; 
    --color-slate-light-alpha-4: #021c3714; 
    --color-slate-light-alpha-5: #0217351a; 
    --color-slate-light-alpha-6: #01213921; 
    --color-slate-light-alpha-7: #001a3329; 
    --color-slate-light-alpha-8: #011e323d; 
    --color-slate-light-alpha-9: #00111e78; 
    --color-slate-light-alpha-10: #00101b82; 
    --color-slate-light-alpha-11: #000e1896; 
    --color-slate-light-alpha-12: #00080ced; 
    --color-sage-dark-1: #141716; 
    --color-sage-dark-2: #191d1b; 
    --color-sage-dark-3: #1f2421; 
    --color-sage-dark-4: #252a27; 
    --color-sage-dark-5: #2a2f2c; 
    --color-sage-dark-6: #303633; 
    --color-sage-dark-7: #393f3c; 
    --color-sage-dark-8: #4a524e; 
    --color-sage-dark-9: #66736d; 
    --color-sage-dark-10: #75817b; 
    --color-sage-dark-11: #99a29e; 
    --color-sage-dark-12: #eceeed; 
    --color-sage-light-1: #fbfdfc; 
    --color-sage-light-2: #f8faf9; 
    --color-sage-light-3: #f1f4f3; 
    --color-sage-light-4: #ecefed; 
    --color-sage-light-5: #e6e9e8; 
    --color-sage-light-6: #dfe4e2; 
    --color-sage-light-7: #d7dcda; 
    --color-sage-light-8: #c2c9c6; 
    --color-sage-light-9: #8a918e; 
    --color-sage-light-10: #808784; 
    --color-sage-light-11: #6a716e; 
    --color-sage-light-12: #111c18; 
    --color-sage-dark-alpha-1: #00000000; 
    --color-sage-dark-alpha-2: #d4fed608; 
    --color-sage-dark-alpha-3: #d5fbd70f; 
    --color-sage-dark-alpha-4: #e3ffe514; 
    --color-sage-dark-alpha-5: #e8feea1a; 
    --color-sage-dark-alpha-6: #e5feee21; 
    --color-sage-dark-alpha-7: #eafef22b; 
    --color-sage-dark-alpha-8: #e8fef240; 
    --color-sage-dark-alpha-9: #e3fff166; 
    --color-sage-dark-alpha-10: #e8fff375; 
    --color-sage-dark-alpha-11: #f2fff999; 
    --color-sage-dark-alpha-12: #fdfffeed; 
    --color-sage-light-alpha-1: #05824405; 
    --color-sage-light-alpha-2: #054d2908; 
    --color-sage-light-alpha-3: #0037250d; 
    --color-sage-light-alpha-4: #022a0f14; 
    --color-sage-light-alpha-5: #0221171a; 
    --color-sage-light-alpha-6: #01291921; 
    --color-sage-light-alpha-7: #00201329; 
    --color-sage-light-alpha-8: #011e113d; 
    --color-sage-light-alpha-9: #000f0975; 
    --color-sage-light-alpha-10: #000e0880; 
    --color-sage-light-alpha-11: #000c0794; 
    --color-sage-light-alpha-12: #000c08ed; 
    --color-olive-dark-1: #151715; 
    --color-olive-dark-2: #1a1d19; 
    --color-olive-dark-3: #20241f; 
    --color-olive-dark-4: #262925; 
    --color-olive-dark-5: #2b2f2a; 
    --color-olive-dark-6: #313530; 
    --color-olive-dark-7: #3b3f3a; 
    --color-olive-dark-8: #4c514b; 
    --color-olive-dark-9: #687366; 
    --color-olive-dark-10: #778175; 
    --color-olive-dark-11: #9aa299; 
    --color-olive-dark-12: #eceeec; 
    --color-olive-light-1: #fcfdfc; 
    --color-olive-light-2: #f8faf8; 
    --color-olive-light-3: #f2f4f2; 
    --color-olive-light-4: #ecefec; 
    --color-olive-light-5: #e6e9e6; 
    --color-olive-light-6: #e0e4e0; 
    --color-olive-light-7: #d8dcd8; 
    --color-olive-light-8: #c3c8c2; 
    --color-olive-light-9: #8b918a; 
    --color-olive-light-10: #818780; 
    --color-olive-light-11: #6b716a; 
    --color-olive-light-12: #141e12; 
    --color-olive-dark-alpha-1: #00000000; 
    --color-olive-dark-alpha-2: #d5feaf08; 
    --color-olive-dark-alpha-3: #d6fbc40f; 
    --color-olive-dark-alpha-4: #effee214; 
    --color-olive-dark-alpha-5: #e9fedf1a; 
    --color-olive-dark-alpha-6: #ecfee521; 
    --color-olive-dark-alpha-7: #f1feeb2b; 
    --color-olive-dark-alpha-8: #f1ffed40; 
    --color-olive-dark-alpha-9: #e6ffe166; 
    --color-olive-dark-alpha-10: #ebffe775; 
    --color-olive-dark-alpha-11: #f3fff199; 
    --color-olive-dark-alpha-12: #fdfffded; 
    --color-olive-light-alpha-1: #05580503; 
    --color-olive-light-alpha-2: #054d0508; 
    --color-olive-light-alpha-3: #0027000d; 
    --color-olive-light-alpha-4: #022a0214; 
    --color-olive-light-alpha-5: #0221021a; 
    --color-olive-light-alpha-6: #0122011f; 
    --color-olive-light-alpha-7: #001a0026; 
    --color-olive-light-alpha-8: #051a013d; 
    --color-olive-light-alpha-9: #020f0075; 
    --color-olive-light-alpha-10: #030e0080; 
    --color-olive-light-alpha-11: #020c0094; 
    --color-olive-light-alpha-12: #020d00ed; 
    --color-sand-dark-1: #161615; 
    --color-sand-dark-2: #1c1c1a; 
    --color-sand-dark-3: #232320; 
    --color-sand-dark-4: #282826; 
    --color-sand-dark-5: #2e2e2b; 
    --color-sand-dark-6: #353431; 
    --color-sand-dark-7: #3e3e3a; 
    --color-sand-dark-8: #51504b; 
    --color-sand-dark-9: #717069; 
    --color-sand-dark-10: #7f7e77; 
    --color-sand-dark-11: #a1a09a; 
    --color-sand-dark-12: #ededec; 
    --color-sand-light-1: #fdfdfc; 
    --color-sand-light-2: #f9f9f8; 
    --color-sand-light-3: #f3f3f2; 
    --color-sand-light-4: #eeeeec; 
    --color-sand-light-5: #e9e9e6; 
    --color-sand-light-6: #e3e3e0; 
    --color-sand-light-7: #dbdbd7; 
    --color-sand-light-8: #c8c7c1; 
    --color-sand-light-9: #90908c; 
    --color-sand-light-10: #868682; 
    --color-sand-light-11: #706f6c; 
    --color-sand-light-12: #1b1b18; 
    --color-sand-dark-alpha-1: #00000000; 
    --color-sand-dark-alpha-2: #fdfdd508; 
    --color-sand-dark-alpha-3: #fefeda0f; 
    --color-sand-dark-alpha-4: #fdfdef14; 
    --color-sand-dark-alpha-5: #fdfde91a; 
    --color-sand-dark-alpha-6: #fdf6e621; 
    --color-sand-dark-alpha-7: #ffffec2b; 
    --color-sand-dark-alpha-8: #fefbea40; 
    --color-sand-dark-alpha-9: #fffcec63; 
    --color-sand-dark-alpha-10: #fffdee73; 
    --color-sand-dark-alpha-11: #fffdf499; 
    --color-sand-dark-alpha-12: #fffffeeb; 
    --color-sand-light-alpha-1: #58580503; 
    --color-sand-light-alpha-2: #29290508; 
    --color-sand-light-alpha-3: #1414000d; 
    --color-sand-light-alpha-4: #1c1c0214; 
    --color-sand-light-alpha-5: #2121021a; 
    --color-sand-light-alpha-6: #1a1a011f; 
    --color-sand-light-alpha-7: #1a1a0029; 
    --color-sand-light-alpha-8: #1e19013d; 
    --color-sand-light-alpha-9: #09090073; 
    --color-sand-light-alpha-10: #0909007d; 
    --color-sand-light-alpha-11: #07060094; 
    --color-sand-light-alpha-12: #040400e8; 
    --color-gold-dark-1: #171613; 
    --color-gold-dark-2: #1c1a15; 
    --color-gold-dark-3: #26231c; 
    --color-gold-dark-4: #2e2a21; 
    --color-gold-dark-5: #353026; 
    --color-gold-dark-6: #3e382c; 
    --color-gold-dark-7: #504737; 
    --color-gold-dark-8: #6b5d48; 
    --color-gold-dark-9: #978365; 
    --color-gold-dark-10: #a59071; 
    --color-gold-dark-11: #bfa888; 
    --color-gold-dark-12: #f7f4e7; 
    --color-gold-light-1: #fdfdfc; 
    --color-gold-light-2: #fbf9f2; 
    --color-gold-light-3: #f5f2e9; 
    --color-gold-light-4: #eeeadd; 
    --color-gold-light-5: #e5dfd0; 
    --color-gold-light-6: #dad1bd; 
    --color-gold-light-7: #cbbda4; 
    --color-gold-light-8: #b8a383; 
    --color-gold-light-9: #978365; 
    --color-gold-light-10: #8c795d; 
    --color-gold-light-11: #776750; 
    --color-gold-light-12: #3b352b; 
    --color-gold-dark-alpha-1: #00000000; 
    --color-gold-dark-alpha-2: #facb6e05; 
    --color-gold-dark-alpha-3: #fede9d0f; 
    --color-gold-dark-alpha-4: #fdde9f1a; 
    --color-gold-dark-alpha-5: #fedda521; 
    --color-gold-dark-alpha-6: #fedfa72b; 
    --color-gold-dark-alpha-7: #ffdda640; 
    --color-gold-dark-alpha-8: #fed9a55c; 
    --color-gold-dark-alpha-9: #ffdca78c; 
    --color-gold-dark-alpha-10: #ffdcac9c; 
    --color-gold-dark-alpha-11: #ffe0b4ba; 
    --color-gold-dark-alpha-12: #fffceef7; 
    --color-gold-light-alpha-1: #58580503; 
    --color-gold-light-alpha-2: #b08a000d; 
    --color-gold-light-alpha-3: #8c6a0217; 
    --color-gold-light-alpha-4: #80630121; 
    --color-gold-light-alpha-5: #72520130; 
    --color-gold-light-alpha-6: #704d0042; 
    --color-gold-light-alpha-7: #6e45005c; 
    --color-gold-light-alpha-8: #6d42007d; 
    --color-gold-light-alpha-9: #53320099; 
    --color-gold-light-alpha-10: #4a2d00a3; 
    --color-gold-light-alpha-11: #392100b0; 
    --color-gold-light-alpha-12: #130c00d4; 
    --color-bronze-dark-1: #191514; 
    --color-bronze-dark-2: #1f1917; 
    --color-bronze-dark-3: #2a211f; 
    --color-bronze-dark-4: #332824; 
    --color-bronze-dark-5: #3b2e29; 
    --color-bronze-dark-6: #453530; 
    --color-bronze-dark-7: #57433c; 
    --color-bronze-dark-8: #74594e; 
    --color-bronze-dark-9: #a18072; 
    --color-bronze-dark-10: #b08c7d; 
    --color-bronze-dark-11: #cba393; 
    --color-bronze-dark-12: #f9ede7; 
    --color-bronze-light-1: #fdfcfc; 
    --color-bronze-light-2: #fdf8f6; 
    --color-bronze-light-3: #f8f1ee; 
    --color-bronze-light-4: #f2e8e4; 
    --color-bronze-light-5: #eaddd7; 
    --color-bronze-light-6: #e0cec7; 
    --color-bronze-light-7: #d1b9b0; 
    --color-bronze-light-8: #bfa094; 
    --color-bronze-light-9: #a18072; 
    --color-bronze-light-10: #977669; 
    --color-bronze-light-11: #846358; 
    --color-bronze-light-12: #43302b; 
    --color-bronze-dark-alpha-1: #00000000; 
    --color-bronze-dark-alpha-2: #f7aa8308; 
    --color-bronze-dark-alpha-3: #ffb7a912; 
    --color-bronze-dark-alpha-4: #fdbca01c; 
    --color-bronze-dark-alpha-5: #ffbea226; 
    --color-bronze-dark-alpha-6: #febca630; 
    --color-bronze-dark-alpha-7: #ffbfa845; 
    --color-bronze-dark-alpha-8: #ffc1a666; 
    --color-bronze-dark-alpha-9: #ffcab396; 
    --color-bronze-dark-alpha-10: #ffcab4a8; 
    --color-bronze-dark-alpha-11: #ffccb8c4; 
    --color-bronze-dark-alpha-12: #fff3edf7; 
    --color-bronze-light-alpha-1: #58050503; 
    --color-bronze-light-alpha-2: #c73c050a; 
    --color-bronze-light-alpha-3: #972e0112; 
    --color-bronze-light-alpha-4: #8426001c; 
    --color-bronze-light-alpha-5: #79270029; 
    --color-bronze-light-alpha-6: #72210038; 
    --color-bronze-light-alpha-7: #6e21004f; 
    --color-bronze-light-alpha-8: #671d006b; 
    --color-bronze-light-alpha-9: #551a008c; 
    --color-bronze-light-alpha-10: #4e160096; 
    --color-bronze-light-alpha-11: #431100a6; 
    --color-bronze-light-alpha-12: #1d0600d4; 
    --color-overlays-white-alpha-1: #00000000; 
    --color-overlays-white-alpha-2: #ffffff03; 
    --color-overlays-white-alpha-3: #ffffff08; 
    --color-overlays-white-alpha-4: #ffffff0f; 
    --color-overlays-white-alpha-5: #ffffff17; 
    --color-overlays-white-alpha-6: #ffffff1f; 
    --color-overlays-white-alpha-7: #ffffff2e; 
    --color-overlays-white-alpha-8: #ffffff40; 
    --color-overlays-white-alpha-9: #ffffff63; 
    --color-overlays-white-alpha-10: #ffffff73; 
    --color-overlays-white-alpha-11: #ffffff96; 
    --color-overlays-white-alpha-12: #ffffffeb; 
    --color-overlays-black-alpha-1: #00000003; 
    --color-overlays-black-alpha-2: #00000008; 
    --color-overlays-black-alpha-3: #0000000d; 
    --color-overlays-black-alpha-4: #00000012; 
    --color-overlays-black-alpha-5: #00000017; 
    --color-overlays-black-alpha-6: #0000001c; 
    --color-overlays-black-alpha-7: #00000024; 
    --color-overlays-black-alpha-8: #00000038; 
    --color-overlays-black-alpha-9: #00000070; 
    --color-overlays-black-alpha-10: #0000007a; 
    --color-overlays-black-alpha-11: #0000008f; 
    --color-overlays-black-alpha-12: #000000e8; 
}